/* ALLMÄNT */
:root{
    --primary-one: #F6ECE3;
    --primary-two: #432C14;
    --green-color: #5A5D17;
    --dark-text: #432C14;
    --light-text: #F6ECE3;
    --bright-yellow: #F8971F;
    --mute-yellow: #9E5700;
}
*{
   box-sizing: border-box;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark-text);
    text-align: center;
}
h2{
    font-family: big shoulders;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
}
h3{
    font-family: big shoulders;
}
hr{
   background-color: var(--primary-two);
   height: 1px;
   border: none;
}
body{
    background-color: var(--primary-one);
    margin: 0;
}
/* HEADER OCH LOGGA */
#logotyp{
    margin-left: 22px;
    margin-right: 22px;
    width: 37px;
    height: 37px;
}
header{
    @media (min-width: 800px){
        display: flex;
    }
}
header>div{
    display: flex;
    align-items: center;
    padding: 5px;
}
header>div>p{
    
    font-family: Big shoulders;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--mute-yellow);
    font-size: 20px;
    margin: 0;
}
/* NAVIGERING */
#nav-list{

   list-style: none;
   margin: 0;
   padding: 0;
}
nav li{
    padding: 0.5em;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: var(--primary-two);
    padding-left: 58px;
    @media (min-width: 800px){
        display: inline;
        background-color: transparent;
        color: var(--green-color);
    }
}
nav a{
      text-decoration: none;
      color: var(--light-text);
      font-family: big shoulders;
      font-weight:200;
    }
    /* HERO */
   .hero{
    max-width: 100%;
   } 
   /* INFOBOXAR M KNAPP */
   .info h1{
    color: var(--mute-yellow);
    font-family: big shoulders;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
   }
   .info h2{
      color: var(--mute-yellow);
    font-family: big shoulders;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
   }
   .info p{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
   }
   .info button{
    color: var(--light-text);
    background-color: var(--green-color);
    font-family: big shoulders;
    font-size: 20px;
    font-weight: 200;
    border-radius: 10px;
    height: 40px;
    width: 227px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
   }
   /* TEXTBOX */
   .textbox h2{
    color: var(--mute-yellow);
   }
   .textbox p{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
   }
   /* UPPLEVELSER */
   #upplevelser{
    background-color: var(--primary-two);
    color: var(--bright-yellow);
    padding: 30px;
   }
   #upplevelser h2{
    margin: 0;
   }
   .puff{
    background-color: var(--primary-one);
    margin-top: 30px;
    }
   .puff img{
    max-width: 100%;
   }
   .puff h3{
    color: var(--green-color);
    margin-top: 0;
   }
   .puff p{
    text-align: left;
    text-wrap-style: balance;
   }
   .puff div{
    padding: 20px;
    padding-bottom: 10px;
   }
   /* FOOTER */
   footer{
    background-color: var(--primary-two);
    color: var(--light-text);
    padding: 20px;
   }
   footer img{
    width: 85px;
    margin-bottom: 15px;
   }
   footer p{
    color: var(--light-text);
   }
   .footer_logga{
    text-align: center;
   }
   .footer_logga h3{
    color: var(--bright-yellow);
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
   }
   .footer_länkar{
    display: flex;
    justify-content: center;
   }
   .footer_länkar h3{
    color: var(--bright-yellow);
    font-size: 24px;
   }
   .footer_länkar a{
    display: block;
    color: var(--light-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   .footer_länkar div{
    margin: 35px;
   }