:root{
    --primary-one: #F6ECE3;
    --primary-two: #432C14;
    --green-color: #5A5D17;
    --dark-text: #432C14;
    --light-text: #F6ECE3;
    --bright-yellow: #F8971F;
    --mute-yellow: #9E5700;
}
*{
   box-sizing: border-box; 
}

body{
    background-color: var(--primary-one);
    margin: 0;
}
/* HEADER OCH LOGGA */
#logotyp{
    margin-left: 22px;
    margin-right: 22px;
    width: 37px;
    height: 37px;
}
header>div{
    display: flex;
    align-items: center;
    padding: 5px;
}
header>div>p{
    
    font-family: Big shoulders;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--mute-yellow);
    font-size: 20px;
    margin: 0;
}
/* NAVIGERING */
#nav{

   list-style: none;
   margin: 0;
   padding: 0;
}
nav li{
    padding: 0.5em;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: var(--primary-two);
    padding-left: 58px;
}
nav a{
      text-decoration: none;
      color: var(--light-text);
      font-family: big shoulders;
      font-weight:200;
    }
    /* HERO */
   .hero{
    max-width: 100%;
   } 
   /* INTRODUKTION */
   .info{
    
   }
   .info h1{
    color: var(--mute-yellow);
    font-family: big shoulders;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
   }
   .info p{
    color: var(--dark-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
   }
   .info button{
    
    font-family: big shoulders;
   }